<div class="card">
    <!-- Card Header with Title and Button -->
    <div class="card-header">
        <div class="header-card">
            <h2 class="header-title">{{'ut_header' | translate}}</h2>
        </div>

        <!-- Create Button (Right aligned) -->
        <button mat-button class="create-button btn buttoncolor" (click)="createUser()">
            <div class="row">
                <div class="col-3"><mat-icon style="font-size: 26px;">add_circle</mat-icon></div>
                <div class="col-9" style="font-size: 21px;">{{'ut_create' | translate}}</div>
            </div>
        </button>

    </div>

    <!-- Card Body with Table -->
    <div class="card-body">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table" matSort>
            <!-- Full Name Column-->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'bt_name' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</mat-cell>
            </ng-container>

            <!-- Address Column-->
            <ng-container matColumnDef="street">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'bt_address' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.street}} , {{element.city}} , Pincode:{{element.pincode}}
                </mat-cell>
            </ng-container>

            <!-- Email Column-->
            <ng-container matColumnDef="mail">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'bt_email' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.mail}} </mat-cell>
            </ng-container>

            <!-- Phone Number Column-->
            <ng-container matColumnDef="phone_Number">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{'bt_phone' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.phone_Number}} </mat-cell>
            </ng-container>
            <!-- Buttons Column-->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    <mat-form-field appearance="outline">
                        <mat-label>{{'bt_search' | translate}}</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Filter" />
                    </mat-form-field>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button class="btn buttoncolor mx-2" (click)="editUser(element)">
                        <div class="row">
                            <div class="col-3"><mat-icon >edit</mat-icon></div>
                            <div class="col-9" >{{'ut_edit' | translate}}</div>
                        </div>
                    </button>
                    <button mat-button class="btn btn-danger" (click)="openSnackBar(element.name,element.id)"> 
                            <div class="row">
                                <div class="col-3"><mat-icon >delete</mat-icon></div>
                                <div class="col-9" >{{'ut_delete' | translate}}</div>
                            </div>
                        
                        </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </div>
</div>