/* Card Header Styling */
.card-header {
    display: flex; /* Flexbox for header layout */
    justify-content: space-between; /* Space between the title and button */
    align-items: center; /* Vertically center the header content */
    padding: 16px;
    border-bottom: 1px solid #ddd; /* Optional: add a border at the bottom */
  }
  
  /* Header Card Styling */
  .header-card {
    flex-grow: 1; /* Allow the title to take all available space */
    display: flex;
    justify-content: center; /* Center the title horizontally */
    align-items: center; /* Center the title vertically */
  }
  
  .header-title {
    font-size: 24px; /* Font size for the header */
    font-weight: bold; /* Bold title */
    margin: 0; /* Remove default margin */
    text-align: center; /* Center the title text */
  }
  
  /* Create Button Styling */
  .create-button {
    padding: 8px 16px;
    font-size: 14px;
    margin-right: 20px;
    border-radius: 6px;
  }
  
  /* Card Body Styling */
  .card-body {
    padding: 16px;
  }
  
  /* Optional: Add a border around the card */
  .card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .card-header{
    padding: 12px 0px;

}
.card-body{
    padding: 0px;
}  



.custom-table{
    border-radius: 20px;
}


.mat-column-name {
  flex: 0 0 15%;
}

.mat-column-address {
  flex: 0 0 25%;
}
.mat-column-email {
  flex: 0 0 18%;
}
.mat-column-phoneNumber {
  flex: 0 0 15%;
}
.mat-column-actions {
  flex: 0 0 27%;
}

mat-row {
  padding: 10px;  /* Adjust the padding as per your requirement */
}
.buttoncolor{
  background: rgb(39, 176, 186);
}