@if(isverified===true){
<div class="container" style="width:auto; margin-top:5px;">
    <div class="card" style="margin-top:10px;">
      <div class="card-header text-center bg-secondary" style="padding:20px; font-size: 32px;">
        @if (text=="update") {
          {{ 'lp_resetpassword' | translate }}
        } 
        @else{
          {{ 'lp_setpassword' | translate }}
        }
        {{ 'lp_password' | translate }}
      </div>
      <div class="card-body">
        <form [formGroup]="passwordForm" novalidate>
          <!-- Password Field -->
          <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
            <mat-label>{{ 'lp_password' | translate }}</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <div *ngIf="f['password'].touched && f['password'].invalid" class="error mx-3">
            <small *ngIf="f['password'].errors?.['required']">{{ 'lp_v_password' | translate }}</small>
            <small *ngIf="f['password'].errors?.['minlength']">{{ 'lp_v_format' | translate }}</small>
          </div>
  
          <!-- Confirm Password Field -->
          <mat-form-field appearance="outline" class="w-100" hideRequiredMarker>
            <mat-label>{{ 'lp_confirmpassword' | translate }}</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
          </mat-form-field>
          <div *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid" class="error mx-3">
            <small *ngIf="f['confirmPassword'].errors?.['required']">{{ 'lp_v_password' | translate }}</small>
            <small *ngIf="f['confirmPassword'].errors?.['mustMatch']">Passwords do not match</small>
          </div>
  
          <span>
            <button type="submit" class="btn btn-primary mx-2" [disabled]="passwordForm.invalid" (click)="onSubmit()">
              {{ 'lp_submit' | translate }}
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
}
@if(isverified===false) {
    <p>Invalid Token</p>
}