<div class="container" style="width:auto; margin-top:5px;">

    <div class="card" style="margin-top:10px;">
        <div class="card-header text-center bg-secondary" style="padding:20px; font-size: 32px;">
          {{'rp_header' | translate}}
        </div>
        <div class="card-body">
            <form method="post" #userForm="ngForm" [formGroup]="emailForm" novalidate>
                <mat-form-field appearance="outline" hideRequiredMarker>
                    <mat-label>{{'cu_email' | translate}}</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="(f['email'].touched && f['email'].invalid)">
                        <small *ngIf="f['email'].errors?.['required']">{{'cu_v_mail' | translate}}</small>
                        <small *ngIf="f['email'].errors?.['email']">{{'cu_v_mailformat' | translate}}</small>
                        <small *ngIf="isError"> {{'rp_v_notfound' | translate}} </small>
                    </mat-error>
                  </mat-form-field>
                  <small class="error" *ngIf="isError">{{'rp_v_notfound'|translate}}</small>
                <span style="width: max-content;">
                    <button type="submit" class="btn btn-primary mx-2" (click)="onSubmit()">{{'rp_reset' | translate}}</button>
                    <a class="btn btn-primary mx-2" (click)="backtologin()">{{'rp_back' | translate}}</a>
                </span>
            </form>
        </div>
    </div>
</div>




<!-- 
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" hideRequiredMarker>
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="emailForm.controls['email'].errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="emailForm.controls['email'].errors?.['email']">
          Invalid Email Format
        </mat-error>
      </mat-form-field>
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          Reset
        </button>
        <a mat-raised-button color="accent">Back</a>
      </div>
    </form>
   -->